<!-- Leadersrcrd Size (728x90) -->
<div class="adblock ad-leadersrcrd">
	<img src="{T_THEME_PATH}/images/adblock-leadersrcrd.png" alt="AdSense Leadersrcrd Ad example">
</div>

<!-- Banner Size (468x60) -->
<div class="adblock ad-banner">
	<img src="{T_THEME_PATH}/images/adblock-banner.png" alt="AdSense Banner Ad example">
</div>

<!-- Mobile Leadersrcrd Size (320x50) -->
<div class="adblock ad-mobile-leadersrcrd">
	<img src="{T_THEME_PATH}/images/adblock-mobile-leadersrcrd.png" alt="AdSense Mobile Leadersrcrd Ad example">
</div>